<ion-footer>
	<ion-toolbar>
		
		<ion-segment [(ngModel)]="tabSeleccionada" (ionChange)="changeTab($event)" value="codigoqr" style="height: 5rem;">
			<ion-segment-button value="misdatos" [ngClass]="{'custom-segmentbutton-primary': darkMode, 'custom-segmentbutton-secondary': !darkMode}" style="font-size: 12px;">
				<ion-icon name="bar-chart-outline"></ion-icon>{{ "tab.my_data.label" | translate }}
			</ion-segment-button>

			<ion-segment-button value="foro" [ngClass]="{'custom-segmentbutton-primary': darkMode, 'custom-segmentbutton-secondary': !darkMode}" style="font-size: 12px;">
				<ion-icon name="newspaper-outline"></ion-icon>{{ "tab.forum.label" | translate }}
			</ion-segment-button>

			<ion-segment-button value="codigoqr" [ngClass]="{'custom-segmentbutton-primary': darkMode, 'custom-segmentbutton-secondary': !darkMode}" style="font-size: 12px;">
				<ion-icon name="qr-code-outline"></ion-icon>{{ "tab.home.label" | translate }}
			</ion-segment-button>
			
			<ion-segment-button value="miclase" [ngClass]="{'custom-segmentbutton-primary': darkMode, 'custom-segmentbutton-secondary': !darkMode}" style="font-size: 12px;">
				<ion-icon name="school-outline"></ion-icon>{{ "tab.my_class.label" | translate }}
			</ion-segment-button>
			
			<ion-segment-button value="menulateral" (click)="togglearMenuLateral()" [ngClass]="{'custom-segmentbutton-primary': darkMode, 'custom-segmentbutton-secondary': !darkMode}"  style="font-size: 12px;">
				<ion-icon name="menu-outline"></ion-icon>{{ "tab.menu.label" | translate }}
			</ion-segment-button>
		</ion-segment>

	</ion-toolbar>
</ion-footer>