<div style="padding: 0px;">
	<ion-badge color="dark" class="ion-text-center" style="width: 100%;">
		<h3>{{ "lang" | translate }}</h3>
	</ion-badge>
	<ion-radio-group [(ngModel)]="langSelected" (ionChange)="changeLang($event.detail.value)">
		<ion-grid>
			<ion-row>
				<ion-col size="4" *ngFor="let lang of langCodes" style="display: flex; justify-content: center;">
					<div class="flag-container" [class.selected]="langSelected === lang" (click)="changeLang(lang)">
						<img [src]="'assets/flags/' + lang + '.svg'" alt="{{lang}}" class="flag-icon"/>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-radio-group>
</div>