.background-container {
	position: relative;
	height: 100vh;
	overflow: hidden;
	--background: none;
}

.background-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../../../assets/img/aula_duoc_bg.png");
	background-size: cover;
	background-position: center;
	
}

ion-content {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 100%;
	--padding-bottom: 0;
}