// ion-toggle { margin-top: 3px; margin-bottom: 3px; }

// ion-input { margin-top: 4px; }
// ion-content {
// 	--padding-top: 20px;
// 	--padding-bottom: 20px;
// 	--padding-start: 20px;
// 	--padding-end: 20px;
// }

// ion-item {
// 	--inner-padding-start: 0px;
// 	--inner-padding-end: 0px;
// 	--padding-start: 0px;
// 	--padding-end: 0px;
// 	--padding-bottom: 10px;
// }

// ion-badge { --padding-end: 20px; --padding-start: 20px; }

// .custom-tab-primary { --color: #939393; --color-selected: #F1B634; }
// .custom-tab-secondary { --color: #939393; --color-selected: #132CAA; }

// .custom-input-primary { --highlight-color: #F1B634; }
// .custom-input-secondary { --highlight-color: #132CAA; }
// .custom-input-danger { --highlight-color: #F63926; }

// .custom-toggle-primary { --handle-background-checked: #F1B634; }
// .custom-toggle-secondary { --track-background: #132CAA; --track-background-checked: #132CAA; }
// .custom-toggle-danger { --track-background: #F63926; --track-background-checked: #F63926; }