<hr>
<div style="display: flex; justify-content: center;">
	<ion-badge style="width: 30rem; margin: 0 auto;" color="dark">
		<ion-title class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">{{ "misdatos.badge" | translate }}</ion-title>
	</ion-badge>
</div>
<hr>
<div style="display: flex; justify-content: center;">
	<ion-card style="width: 40rem;" class="enmarcar">
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col size="6">
						<ion-input [(ngModel)]="usuario.cuenta" color="secondary" label="{{ 'misdatos.input.cuenta' | translate }}" labelPlacement="floating" fill="outline" disabled></ion-input>
					</ion-col>
					<ion-col size="6">
						<ion-input [(ngModel)]="usuario.correo" color="secondary" label="{{ 'misdatos.input.correo' | translate }}" labelPlacement="floating" fill="outline" disabled></ion-input>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid>
				<ion-row>
					<ion-col size="6">
						<ion-input [(ngModel)]="usuario.nombre" color="secondary" label="{{ 'misdatos.input.nombre' | translate }}" labelPlacement="floating" fill="outline"></ion-input>
					</ion-col>
					<ion-col size="6">
						<ion-input [(ngModel)]="usuario.apellido" color="secondary" label="{{ 'misdatos.input.apellido' | translate }}" labelPlacement="floating" fill="outline"></ion-input>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid>
				<ion-row>
					<ion-col size="6">
						<ion-input [(ngModel)]="usuario.preguntaSecreta" color="secondary" label="{{ 'misdatos.input.preguntasecreta' | translate }}" labelPlacement="floating" fill="outline"></ion-input>
					</ion-col>
					<ion-col size="6">
						<ion-input [(ngModel)]="usuario.respuestaSecreta" color="secondary" label="{{ 'misdatos.input.respuestasecreta' | translate }}" labelPlacement="floating" fill="outline"></ion-input>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid>
				<ion-row>
					<ion-col size="12">
						<ion-select [(ngModel)]="usuario.nivelEducacional!.id" (ionChange)="actualizarNivelEducacional($event)" color="secondary" fill="outline" justify="space-between" label="{{ 'misdatos.select.educacion' | translate }}">
							<ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales" [value]="nivelEducacional.id">
								{{nivelEducacional.nombre}}
							</ion-select-option>
						</ion-select>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid>
				<ion-row>
					<ion-col size="12">
						<ion-input [(ngModel)]="usuario.direccion" color="secondary" label="{{ 'misdatos.input.dirección' | translate }}" labelPlacement="floating" type="text" fill="outline"></ion-input>
					</ion-col>
				</ion-row>
			</ion-grid>
			
			<ion-grid>
				<ion-row>
					<ion-col size="12">
						<ion-datetime [(ngModel)]="fechaNacimientoISO" presentation="date" [preferWheel]="true" color="secondary" class="enmarcar"></ion-datetime>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid>
				<ion-row>
					<ion-col size="6">
						<ion-input [(ngModel)]="usuario.password" color="secondary" label="{{ 'misdatos.input.contraseña' | translate }}" labelPlacement="floating" type="password" fill="outline" disabled></ion-input>
					</ion-col>
					<ion-col size="6">
						<ion-input [(ngModel)]="nuevaPassword" color="secondary" label="{{ 'misdatos.input.nuevacontraseña' | translate }}" labelPlacement="floating" type="password" fill="outline"></ion-input>
					</ion-col>
				</ion-row>
			</ion-grid>

			<div style="display: flex; justify-content: center; margin-top: 12px;">
				<ion-button (click)="guardarCambios()" [disabled]="!compareUsers()" fill="outline" shape="round" color="success">
					<ion-icon slot="start" name="save-outline"></ion-icon>{{ 'button.save_changes' | translate }}
				</ion-button>
			</div>
		</ion-card-content>
	</ion-card>
</div>
