<hr>
<div style="display: flex; justify-content: center;">
	<ion-badge style="width: 30rem; margin: 0 auto;" color="dark">
		<ion-title class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">{{ "foro.badge" | translate }}</ion-title>
	</ion-badge>
</div>
<hr>
<div>
	<a id="top" href="#top"></a>
	<ion-card class="enmarcar">
		<ion-card-header class="ion-text-center">
			<ion-card-title>{{ "foro.card.title" | translate }}</ion-card-title>
			<ion-card-subtitle>{{ "foro.card.subtitle" | translate }} <ion-text color="secondary">{{selectedPost}}</ion-text>.</ion-card-subtitle>
		</ion-card-header>

		<div class="ion-padding-horizontal ion-padding-vertical" style="display: flex; justify-content: center; flex-direction: column;">
			<ion-input [(ngModel)]="post.title" type="text" color="secondary" label="{{ 'foro.input.title' | translate }}" labelPlacement="floating" placeholder="{{ 'foro.input.title.placeholder' | translate }}" fill="outline" id="post_titulo"></ion-input>	
			<hr>
			<ion-textarea [(ngModel)]="post.body" color="secondary" label="{{ 'foro.input.body' | translate }}" labelPlacement="floating" placeholder="{{ 'foro.input.body.placeholder' | translate }}" fill="outline" id="post_cuerpo"></ion-textarea>
		</div>
		<hr>
		<div class="btn-group">
			<ion-button (click)="savePost()" fill="outline" size="default" color="success" class="btn-custom" id="post_submit">
				<ion-icon slot="start" name="save-outline"></ion-icon>{{ "button.save" | translate }}
			</ion-button>
			<ion-button (click)="wipePost()" fill="outline" size="default" color="danger" class="btn-custom" id="post_clear">
				<ion-icon slot="start" name="trash-outline"></ion-icon>{{ "button.limpiar" | translate }}
			</ion-button>
		</div>
		<hr>
	</ion-card>

	<hr>

	<div style="display: flex; justify-content: center;">
		<ion-card style="width: 32rem;">
			<ion-card-header class="ion-text-center">
				<ion-card-title>{{ "foro.posts.title" | translate }}</ion-card-title>
			</ion-card-header>
	
			<ion-card-content *ngIf="!posts" class="ion-text-center ion-padding-vertical">
				<ion-card-subtitle>{{ "foro.posts.noposts" | translate }}</ion-card-subtitle>
			</ion-card-content>
	
			<ion-card-content *ngIf="posts">
				<ion-card *ngFor="let p of posts; let i=index; trackBy: getPostItemID" class="enmarcar" style="margin-bottom: 1.78rem;">
					<ion-grid fixed>
						<ion-row class="ion-justify-content-between">
							<ion-col size="auto">{{ "foro.posts.authorlabel" | translate }}: {{p.name}}</ion-col>
							<ion-col size="3" style="display: flex; justify-content: end;">#{{p.id}}</ion-col>
						</ion-row>
					</ion-grid>
					
					<ion-card-header>
						<ion-card-title>{{p.title}}</ion-card-title>
						<ion-card-subtitle>{{p.body}}</ion-card-subtitle>
					</ion-card-header>
					
					<hr>
					<div class="btn-group">
						<ion-button (click)="editPost(p)" fill="outline" size="default" color="secondary" class="btn-custom" id="post_edit">
							<ion-icon slot="start" name="pencil-outline"></ion-icon>{{ "button.editar" | translate}}
						</ion-button>
						<ion-button (click)="deletePost(p)" fill="outline" size="default" color="danger" class="btn-custom" id="post_delete">
							<ion-icon slot="start" name="trash-outline"></ion-icon>{{ "button.eliminar" | translate }}
						</ion-button>
					</div>
					<hr>
				</ion-card>
			</ion-card-content>
		</ion-card>
	</div>
</div>