<duocuc-header></duocuc-header>

<ion-content class="background-container">
	<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
		<ion-card class="ion-text-center ion-padding-vertical enmarcar" style="border-radius: 8px; width: 30rem; height: 32rem;">
			<ion-grid fixed>
				<ion-col>
					<ion-row class="ion-justify-content-center">
						<ion-card-title>
							<ion-badge color="danger" style="font-size: 26px;">{{ "incorrecto.text" | translate }}</ion-badge>
						</ion-card-title>
					</ion-row>
					<ion-row class="ion-justify-content-center">
						<ion-label style="font-size: 18px;">{{ "incorrecto.descripcion" | translate }}</ion-label>
					</ion-row>
					<ion-row class="ion-justify-content-center">
						<br>
						<ion-card-content>
							<img src="../../../assets/img/incorrectimg.webp" alt="incorrectimg" height="256" width="auto">
						</ion-card-content>
						<br>
					</ion-row>
					<ion-row class="ion-justify-content-center">
						<ion-button [routerLink]="['/recuperar']" color="danger" fill="outline" shape="round" style="width: 40%;">
							{{ "button.go_back" | translate }}
						</ion-button>
					</ion-row>
				</ion-col>
			</ion-grid>
		</ion-card>
	</div>
</ion-content>
