<ion-header>
	<ion-toolbar>
		<ion-grid>
			<ion-row class="ion-justify-content-between">
				<ion-col size="auto"><img src="assets/img/duocuc_sec.svg" alt="duocuc_logo" style="width: 8rem; margin-left: 16px; margin-right: 16px;"></ion-col>
				<ion-col size="3" style="display: flex; justify-content: end;">
					<ion-title style="color: #a9a9a9" [@fadeSlideIn]="colState">{{ "label.program_description" | translate }}</ion-title>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-header>