<div class="ion-page" id="main-content">
	<ion-header>
		<ion-toolbar>
			<ion-grid>
				<ion-row>
					<ion-col>
						<img src="../../../assets/img/duocuc_sec.svg" alt="duocuc_logo" style="width: 8rem; margin-left: 16px; margin-right: 16px;">
					</ion-col>
					<ion-col style="display: flex; justify-content: center;">
						<ion-title style="color: #a9a9a9">Sistema de asistencia</ion-title>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-toolbar>
	</ion-header>
	
	<!-- Contenidos de los tabs -->
	<!-- Sección validar correo -->
	<ion-content *ngIf="tab === 'validarCorreo'">
		<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
			<ion-card class="ion-text-center ion-padding-vertical" style="display: flex; flex-direction: column; align-items: center; border-radius: 8px; width: 30rem;">
				<ion-card-title class="ion-text-center">
					<ion-label>
						<h1>Recuperar contraseña</h1>
					</ion-label>
				</ion-card-title>
				<ion-card-subtitle class="ion-text-center"><ion-text color="warning"> Paso 1:</ion-text> Ingresa tu correo.</ion-card-subtitle>
				<hr>
				<ion-card-content>
					<ion-item>
						<ion-input [(ngModel)]="correo" [clearInput]="true" class="custom-input-primary" type="text" labelPlacement="floating" fill="outline" label="Correo" placeholder="Ingresa tu correo" ></ion-input>
					</ion-item>
					<hr>
					<div style="display: flex; justify-content: center; margin-top: 20px;">
						<ion-button [routerLink]="['/login']" class="custom-button-danger" fill="outline" shape="round">Volver</ion-button>
						<ion-button (click)="validarCorreo()" class="custom-button-primary" fill="outline" shape="round">Siguiente</ion-button>
					</div>
				</ion-card-content>
			</ion-card>
		</div>
	</ion-content>

	<!-- Sección validar pregunta secreta -->
	<ion-content *ngIf="tab === 'validarPreguntaSecreta'">
		<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
			<ion-card class="ion-text-center ion-padding-vertical" style="display: flex; flex-direction: column; align-items: center; border-radius: 8px; width: 30rem;" >
				<ion-card-title class="ion-text-center">
					<ion-label>
						<h1>Recuperar contraseña</h1>
					</ion-label>
				</ion-card-title>
				<ion-card-subtitle class="ion-text-center"> <ion-text color="warning">Paso 2:</ion-text> Responde a la pregunta secreta, <ion-text color="warning">{{usuario.nombre}} {{usuario.apellido}}</ion-text>.</ion-card-subtitle>
				<hr>
				<h3>{{usuario.preguntaSecreta}}</h3>
				<ion-card-content>
					<ion-item>
						<ion-input [(ngModel)]="respuestaSecreta" [clearInput]="true" class="custom-input-primary" type="text" labelPlacement="floating" fill="outline" label="Respuesta" placeholder="Ingresa respuesta 🤫"></ion-input>
					</ion-item>
					<hr>
					<div style="display: flex; justify-content: center; margin-top: 20px;">
						<ion-button (click)="seleccionarTab('validarCorreo')" class="custom-button-danger" fill="outline" shape="round">Volver</ion-button>
						<ion-button (click)="validarRespuesta()" class="custom-button-primary" fill="outline" shape="round">Siguiente</ion-button>
					</div>
				</ion-card-content>
			</ion-card>
		</div>
	</ion-content>
</div>