/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/**
 * -----------------------------------------------------
 * Custom Styling
 * -----------------------------------------------------
 */

 /* CLASES */
.btn-group { display: flex; justify-content: center; }
.btn-custom::part(native) { border-radius: 0; --border-radius: 0; }
.btn-custom:first-child::part(native) { border-top-left-radius: 20px; border-bottom-left-radius: 20px; }
.btn-custom:last-child::part(native) { border-top-right-radius: 20px; border-bottom-right-radius: 20px; }
.btn-custom:not(:first-child):not(:last-child)::part(native) { border-radius: 0; }
.btn-group ion-button:not(:first-child) { margin-left: 1px; }
.custom-loading .loading-spinner { --spinner-color: var(--ion-color-secondary); }
.error-feedback { color: var(--ion-color-danger); font-size: 0.55rem; }
.enmarcar { max-width: 600px; width: 100%; margin: auto; border-radius: 10px; padding: 20px; border: 1px solid gray; }
.background-container { position: relative; height: 100vh; overflow: hidden; --background: none; }
.background-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("assets/img/fondo.webp");
	background-size: cover;
	background-position: center;
	z-index: -1;
	width: 100%;
	height: 100%;
}
body.barcode-scanner-active { visibility: hidden; --background: transparent; --ion-background-color: transparent; }
.barcode-scanner-modal { visibility: visible; }
@media (prefers-color-scheme: dark) { .barcode-scanner-modal { --background: transparent; --ion-background-color: transparent; } }
.hidden { display: none !important; }
.transparent-card { background: transparent !important; box-shadow: none !important; border: 1px solid var(--ion-color-danger); }


/* INPUTS */
ion-input { margin-top: 4px; }
ion-input.ion-valid.sc-ion-input-md-h, ion-input:focus { --highlight-color: var(--ion-color-secondary); }
ion-textarea.ion-valid.sc-ion-textarea-md-h, ion-textarea:focus { --highlight-color: var(--ion-color-secondary); }
ion-select { --color-checked: var(--ion-color-secondary); --color-selected: var(--ion-color-secondary); --highlight-color: var(--ion-color-secondary); }
ion-select.ng-invalid.ng-touched { --color: var(--ion-color-danger); --placeholder-color: var(--ion-color-danger); --color-checked: var(--ion-color-danger); --color-selected: var(--ion-color-danger); --highlight-color: var(--ion-color-danger); }

/* BOTONES */
ion-segment-button { --color: #939393; --color-checked: var(--ion-color-secondary); &.md::part(indicator-background) { height: 1px; } }
ion-button.button-outline::part(native) { border-color: var(--ion-color, var(--ion-color-secondary)); color: var(--ion-color, var(--ion-color-secondary)); }
ion-button.button-outline:hover::part(native) { background: var(--ion-color, var(--ion-color-secondary)); color: black; }
ion-button.button-outline[color="primary"]::part(native) { border-color: var(--ion-color-primary); color: var(--ion-color-primary); }
ion-button.button-outline[color="primary"]:hover::part(native) { background: var(--ion-color-primary); color: black; }
ion-button.button-outline[color="secondary"]::part(native) { border-color: var(--ion-color-secondary); color: var(--ion-color-secondary); }
ion-button.button-outline[color="secondary"]:hover::part(native) { background: var(--ion-color-secondary); color: black; }
ion-button.button-outline[color="danger"]::part(native) { border-color: var(--ion-color-danger); color: var(--ion-color-danger); }
ion-button.button-outline[color="danger"]:hover::part(native) { background: var(--ion-color-danger); color: black; }
ion-button.button-outline[color="success"]::part(native) { border-color: var(--ion-color-success); color: var(--ion-color-success); }
ion-button.button-outline[color="success"]:hover::part(native) { background: var(--ion-color-success); color: black; }

/* COMPONENTES */
ion-badge { --padding-end: 20px; --padding-start: 20px; }
ion-content { --padding-top: 20px; --padding-bottom: 20px; --padding-start: 20px; --padding-end: 20px; }

/* MENÚ */
ion-menu::part(backdrop) { backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.3); }
ion-menu::part(container) { border-radius: 20px 0 0 20px; }